---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
@font-face { font-family: 'Roya'; src: url('../../roya.ttf'); } 

body { 
    font-family: Roya, Aria; 
    direction: rtl;
}

.px-1 p {
    font-size:1.5em;
}

.px-1 ul {
    font-size:1.2em;
}

#sidebar {
    right: 0px;
}

#main-wrapper {
    right: 250px;
}

span {
    padding-right: 6px;
}