---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
@font-face { font-family: 'Roya'; src: url('../../roya.ttf'); } 

body {
    font-family: Roya;
}


.px-1 p {
    font-size:1.5em;
    direction: rtl;
}

.px-1 ul {
    font-size:1.3em;
    direction: rtl;
}

.px-1 li {
    font-size:24px;
    direction: rtl;
}


.px-1 ol {
    font-size:1.3em;
    direction: rtl;
}


#sidebar {
    right: 0px;
    font-size: 20px;
}

body { 
    font-family: Roya; 
}

@media (min-width: 769px) {
#main-wrapper {
    right: 245px;
}

body { 
    font-family: Roya; 
    direction: rtl;
}
}

span {
    padding-right: 6px;
}

#archives a {
    padding-right: 30px;
}

h1 {
    font-family: Roya;
    font-size: 1.9em;
}

#post-list .card .card-body .card-title {
    font-size: 1.5em;
}

a { 
    font-family: Roya;
}

.footnote {
    font-size: 14px;
}


#related-label {
    font-family: Roya;
}

#sidebar #avatar {
    margin: 35px;
}

.me-2 {
    font-family: Roya;
    font-size: 1.3em;
}

details {
    font-family: Roya;
    font-size: 1.3em;
}

summary {
    font-family: Roya;
    font-size: 1.3em;
}

#search-results a {
    font-family: Roya;
}

#page-category ul > li > a {
    padding-right: 5px
}

#page-tag ul > li > a {
    padding-right: 5px
}

#post-list .card-wrapper:not(:last-child) {
    direction: rtl;
}

.table-wrapper {
    direction: rtl;
}

details {
    direction: rtl;
}

main h3 {
    direction: rtl;
}

main h1 {
    direction: rtl;
}

main h2 {
    direction: rtl;
}

.post-preview {
    direction: rtl;
}