---
---

@import 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */
@font-face { font-family: 'Roya'; src: url('../../roya.ttf'); } 

body {
    font-family: Roya;
}


.px-1 p {
    font-size:1.5em;
    direction: rtl;
}

.px-1 ul {
    font-size:1.3em;
    direction: rtl;
}

.px-1 li {
    font-size:24px;
    direction: rtl;
}


.px-1 ol {
    font-size:1.3em;
    direction: rtl;
}


#sidebar {
    right: 0px;
}

@media (min-width: 769px) {
#main-wrapper {
    right: 245px;
}

body { 
    font-family: Roya; 
    direction: rtl;
}
}

span {
    padding-right: 6px;
}

#archives a {
    padding-right: 30px;
}

h1 {
    font-family: Roya;
    font-size: 1.9em;
}

#post-list .card .card-body .card-title {
    font-size: 1.5em;
}

a { 
    font-family: Roya;
}

.footnote {
    font-size: 14px;
}